@model List<EAD_Project.Models.BookedUser>

<html lang="en">

<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">ANJAR <span class="glyphicon glyphicon glyphicon-road" aria-hidden="true"></span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/User/userHome"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                    <li><a href="~/User/userAbout">ABOUT</a></li>
                    <li><a href="~/User/userSchedule">SCHEDULE</a></li>
                    <li><a href="~/User/userTerminal">TERMINALS</a></li>
                    <li><a href="~/User/makeBookings">MAKE BOOKING</a></li>
                    <li><a href="~/User/cancelBooking">CANCEL BOOKING</a></li>
                    <li><a href="~/User/viewETicket">VIEW E-TICKET</a></li>
                    <li><a href="~/Home/logout">LOGOUT</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!--END NAV SECTION -->
    <br><br>
    <br><br> 
    <br><br>
    <br><br>
    <div class="row main-top-margin text-center">
        <div class="col-md-8 col-md-offset-2 " style="background-color: deepskyblue; border-top-right-radius: 1em; border-top-left-radius: 1em; border-bottom-right-radius: 1em; border-bottom-left-radius: 1em; ">
            <h1 style="color:aliceblue;">Your Bookings...!</h1>
            <h4></h4>
        </div>
    </div>
    <table>
        <tr>

            <th>Ref. ID </th>
            <th>Username</th>
            <th>Fare</th>
            <th>Booked Seats</th>    
            <th>Boarding Terminal</th>
            <th>Cancel Booking</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.bookingRef
                </td>
                <td>
                    @item.userName
                </td>
                <td>
                    @item.fare
                </td>
                <td>
                    @item.noOfSeats
                </td>
                <td>
                    @item.boardingTerminal
                </td>

                <td>
                   
                    <a href="~/User/confirmCancelBooking/@item.bookingRef">Cancel Booking</a>

                </td>

            </tr>
        }
    </table>
    <br><br><br><br>
    <br><br><br>
    <br><br><br>
    <style>
        body {
            background: #76b852; /* fallback for old browsers */
            background: -webkit-linear-gradient(right, #76b852, #8DC26F);
            background: -moz-linear-gradient(right, #76b852, #8DC26F);
            background: -o-linear-gradient(right, #76b852, #8DC26F);
            background: linear-gradient(to left, #76b852, #8DC26F);
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        table {
            background: #f5f5f5;
            border-collapse: separate;
            box-shadow: inset 0 1px 0 #fff;
            font-size: 12px;
            line-height: 24px;
            margin: 30px auto;
            text-align: left;
            width: 800px;
        }

        th {
            background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
            border-left: 1px solid #555;
            border-right: 1px solid #777;
            border-top: 1px solid #555;
            border-bottom: 1px solid #333;
            box-shadow: inset 0 1px 0 #999;
            color: #fff;
            font-weight: bold;
            padding: 10px 15px;
            position: relative;
            text-shadow: 0 1px 0 #000;
        }

            th:after {
                background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
                content: '';
                display: block;
                height: 25%;
                left: 0;
                margin: 1px 0 0 0;
                position: absolute;
                top: 25%;
                width: 100%;
            }

            th:first-child {
                border-left: 1px solid #777;
                box-shadow: inset 1px 1px 0 #999;
            }

            th:last-child {
                box-shadow: inset -1px 1px 0 #999;
            }

        td {
            border-right: 1px solid #fff;
            border-left: 1px solid #e8e8e8;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #e8e8e8;
            padding: 10px 15px;
            position: relative;
            transition: all 300ms;
        }

            td:first-child {
                box-shadow: inset 1px 0 0 #fff;
            }

            td:last-child {
                border-right: 1px solid #e8e8e8;
                box-shadow: inset -1px 0 0 #fff;
            }

        tr {
            background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
        }

            tr:nth-child(odd) td {
                background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
            }

            tr:last-of-type td {
                box-shadow: inset 0 -1px 0 #fff;
            }

                tr:last-of-type td:first-child {
                    box-shadow: inset 1px -1px 0 #fff;
                }

                tr:last-of-type td:last-child {
                    box-shadow: inset -1px -1px 0 #fff;
                }

        tbody:hover td {
            color: transparent;
            text-shadow: 0 0 3px #aaa;
        }

        tbody:hover tr:hover td {
            color: #444;
            text-shadow: 0 1px 0 #fff;
        }
        </style>
</body>
</html>


